{% extends 'arcada/base.html' %} {% load static %} {% block title %}Добавить
игру{% endblock %} {% block content %}
<section class="figma-block" style="padding-top: 120px">
  <div class="figma-container">
    <h2 class="section-title">Добавить новую игру</h2>

    <form
      action=""
      method="post"
      enctype="multipart/form-data"
      class="add-form"
    >
      {% csrf_token %} {% for field in form %}
      <div class="form-field">
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }} {% if field.errors %}
        <div class="form-error">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% endfor %}

      <button type="submit" class="submit-btn">Добавить игру</button>
    </form>
  </div>
</section>
{% endblock %}
